.main-conatiner{
  max-width: 450px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(44, 152, 240, 0.2);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  border-radius: 2px;
  margin-top: 150px;
}

.heading-section{
  margin-bottom: 15px;
  font-size: 16px;
  text-transform: uppercase;
  color: #2C98F0;
  font-weight: 500;
  letter-spacing: 3px;
  font-family: "Quicksand", Arial, sans-serif;
}

.bg-button{
  padding: 6px;
  background-color: #2C98F0;
  border: 1px solid #2C98F0;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.bg-button:hover{
  border: 1px solid #2C98F0;
  color: #2C98F0;
  background-color: #fff;
}

.signup-text{
  font-family: "Quicksand", Arial, sans-serif;
  color: #999999;
  font-size: 15px;
  text-align: center;
  margin-top: 15px;
}

.errorMessage{
  color: red;
  margin-top: 5px;
  font-size: 12px;
  font-family: "Quicksand", Arial, sans-serif;
}