.input-container{
  position: relative;
  /* margin-bottom: 10px; */
  margin-top: 20px;
}

.custom-input{
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 2px;
  border: 0.4px solid #9e9e9e;
  font-size: 14px;
  font-family: "Quicksand", Arial, sans-serif;
}

.custom-input::placeholder{
  color: #9E9E9E;
  font-size: 13px;
  font-family: "Quicksand", Arial, sans-serif;
}

.custom-input:focus {
  outline: none;
  border: transparent;
  box-shadow: 0 0 5px rgba(44, 152, 240, 0.7);
}


.input-title {
  position: absolute;
  top: -12px;
  left: 10px;
  background-color: #fff; 
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
  color: #666666;
  font-weight: 500;
  font-family: "Quicksand", Arial, sans-serif;
} 

.input-title:hover {
  color: #2C98F0;
} 

