::-webkit-scrollbar {
  width: 5px; 
}

::-webkit-scrollbar-thumb {
  background-color: #2C98F0;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); 
}

body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}