.admin-heading-container{
  padding: 15px;
  border: 1px dotted #2C98F0;
  border-radius: 2px;
  background-color: #EFF6FF;
  text-align: center;
  color: #2C98F0;
  margin-top: 20px;
  font-family: "Quicksand", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.admin-info-container{
  padding: 15px;
  /* border: 1px solid #2C98F0; */
  border: 1px dotted #2C98F0;
  border-radius: 2px;
  background-color: #EFF6FF;
  text-align: center;
  color: #666666;
  margin-top: 10px;
}

.text{
  font-size: 15px;
  color: #666666;
  line-height: 1.8;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 500;
}

.heading-section{
    margin-bottom: 15px;
    font-size: 12px;
    text-transform: uppercase;
    color: #999999;
    font-weight: 500;
    letter-spacing: 5px;
    font-family: "Quicksand", Arial, sans-serif;
    margin-top: 50px;
}

.profile-container {
  position: relative;
  display: inline-block;
}

.plus-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #2C98F0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
}

.plus-icon:hover{
  opacity: 0.5;
}